### ![s](https://www.amexglobalbusinesstravel.com/wp-content/themes/gbt/versett/images/Logo-Stacked.svg)

# Customer Response Modeling

In [1]:
import pandas as pd
import numpy as np

#### I am using Machine learning Classifier

In [2]:
from sklearn.ensemble import RandomForestClassifier
# Test train split, we can do that manually also for our known and new data 
from sklearn.cross_validation import train_test_split

c:\python35\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
from sklearn.externals import joblib

In [4]:
data = pd.read_excel('Known_Data.xlsx')

In [5]:
data

,ID,Name,State,Country,Income,Age,Gender,Our Customer
0,1,Spring Magoon,Jayapura,Indonesia,High,60,Male,Yes
1,2,Gema Coberly,Windhoek,Namibia,Low,28,Female,Yes
2,3,Paige Wallace,Šabac,Serbia,High,51,Male,No
3,4,Sun Mees,Cuiabá,Brazil,Low,30,Male,No
4,5,Germaine Manuelito,Maebashi,Japan,High,56,Male,Yes
5,6,Iris Cowen,Cusco,Peru,Medium,35,Female,No
6,7,Shantae Sulton,Willemstad,Netherlands,Medium,31,Male,Yes
7,8,Tanika Carrera,Sacramento,United States,Medium,35,Female,Yes
8,9,Lisabeth Milburn,Amman,Jordan,Medium,46,Female,Yes
9,10,Carletta Slayton,Lancaster,United Kingdom,High,43,Female,No

In [6]:
expected_output= data[['Our Customer']]
expected_output.head()

  Our Customer
0          Yes
1          Yes
2           No
3           No
4          Yes

### Data preparing and Cleaning

In [7]:
data_input= data[['Income','Age','Gender']]
data_input.head()

  Income  Age  Gender
0   High   60    Male
1    Low   28  Female
2   High   51    Male
3    Low   30    Male
4   High   56    Male

In [8]:
data_input["Income"].replace('Low',3, inplace=True)
data_input["Income"].replace('Medium',2, inplace=True)
data_input["Income"].replace('High',1, inplace=True)
data_input.head()

c:\python35\lib\site-packages\pandas\core\generic.py:3813: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

   Income  Age  Gender
0       1   60    Male
1       3   28  Female
2       1   51    Male
3       3   30    Male
4       1   56    Male

In [9]:
data_input['Gender']=np.where(data_input['Gender']=='Male',1,0)
data_input.head()

c:\python35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   Income  Age  Gender
0       1   60       1
1       3   28       0
2       1   51       1
3       3   30       1
4       1   56       1

### Calling Machine Learning Classifier

In [10]:
inputs_train, inputs_test, expected_output_train, expected_output_test=train_test_split (data_input, expected_output, test_size = 0.33, random_state = 42)

In [11]:
rf = RandomForestClassifier (n_estimators=100)

In [12]:
rf.fit(inputs_train,expected_output_train)

c:\python35\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

### Testing the accuracy of our model

In [13]:
accuracy = rf.score(inputs_test, expected_output_test)
print("Accuracy = {}%".format(accuracy * 100))

Accuracy = 75.0%

In [14]:
#creating and saving the model
joblib.dump(rf, "Response_Model1", compress=9)

['Response_Model1']

### Checking my model against test or Unknown inputs

In [21]:
data = pd.read_excel('Unknown_Data.xlsx')

In [22]:
data_raw=data[['Income','Age','Gender']]

In [23]:
data_raw["Income"].replace('Low',3, inplace=True)
data_raw["Income"].replace('Medium',2, inplace=True)
data_raw["Income"].replace('High',1, inplace=True)
data_raw['Gender'].replace('Male',1, inplace=True)
data_raw['Gender'].replace('Female',0, inplace=True)
data_raw.head()

c:\python35\lib\site-packages\pandas\core\generic.py:3813: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

   Income  Age  Gender
0       2   54       0
1       2   31       0
2       1   55       1
3       2   31       1
4       2   49       1

## Now we are ready to predict the new customers responce

In [24]:
rf=joblib.load('Response_Model1')

In [25]:
predict=rf.predict(data_raw)

In [27]:
print (predict)

['Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'No' 'No' 'Yes']

In [28]:
predicted_data=data_raw

In [29]:
predicted_data['Predicted_Customers']=predict.tolist()

c:\python35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
predicted_data.head()

   Income  Age  Gender Predicted_Customers
0       2   54       0                 Yes
1       2   31       0                 Yes
2       1   55       1                 Yes
3       2   31       1                 Yes
4       2   49       1                 Yes

### Converting calculated fields to their original form

In [32]:
predicted_data["Income"].replace(3,'Low', inplace=True)
predicted_data["Income"].replace(2,'Medium', inplace=True)
predicted_data["Income"].replace(1,'High', inplace=True)
predicted_data['Gender'].replace(1,'Male', inplace=True)
predicted_data['Gender'].replace(0,'Female', inplace=True)

c:\python35\lib\site-packages\pandas\core\generic.py:3813: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [33]:
predicted_data

   Income  Age  Gender Predicted_Customers
0  Medium   54  Female                 Yes
1  Medium   31  Female                 Yes
2    High   55    Male                 Yes
3  Medium   31    Male                 Yes
4  Medium   49    Male                 Yes
5  Medium   55    Male                 Yes
6  Medium   25    Male                 Yes
7    High   46    Male                  No
8    High   54  Female                  No
9  Medium   29  Female                 Yes

In [41]:
predicted_data=data
predicted_data['Predicted_Customers']=predict.tolist()
predicted_data.drop('Our Customer', axis=1, inplace=True)

In [42]:
predicted_data

,ID,Name,State,Country,Income,Age,Gender,Predicted_Customers
0,1,Virginia Flores,Seoul,South Korea,Medium,54,Female,Yes
1,2,Christina Murphy,Mexico City,Mexico,Medium,31,Female,Yes
2,3,Diane Morgan,Alexandria,Egypt,High,55,Male,Yes
3,4,Ram Singh,Gurgaon,India,Medium,31,Male,Yes
4,5,Chris Patterson,Dongguan,China,Medium,49,Male,Yes
5,6,Paul Young,Singapore,Singapore,Medium,55,Male,Yes
6,7,Ryan Gonzalez,Berlin,Germany,Medium,25,Male,Yes
7,8,Doris Martinez,Shenzhen,China,High,46,Male,No
8,9,Julie Wilson,Jersey City,United States,High,54,Female,No
9,10,Rachel Thompson,Amman,Jordan,Medium,29,Female,Yes